# In class practice with Pandas & Scipy Libraries

Import the libraries

In [1]:
import os
import re
import pandas as pd
from scipy import stats

hello world

## Working with pandas

How to importa a tab-delimited text data file. The file is in the same directory at the jupyter notebook.

In [2]:
data=pd.read_csv('hist_taxa_treat2.txt', sep='\t', index_col=False, low_memory=False)

How to use pandas to assign data from the dataset to a variable.

In [3]:
lacto=data.loc[(data['Species']=='Lactobacillus')]
x=lacto['Abundance']
print('lactos')
print(x)

lactos
0     0.063575
1     0.030630
2     0.026108
3     0.058233
4     0.092633
        ...
84    0.003580
85    0.016010
86    0.044609
87    0.007296
88    0.003000
Name: Abundance, Length: 89, dtype: float64

In [7]:
para=data.loc[(data['Species']=='Parabacteroides')]
#print(para)
y=para['Abundance']
print('paras')
print(y)

paras
89     0.005896
90     0.001962
91     0.002219
92     0.003267
93     0.002320
         ...
173    0.003376
174    0.002668
175    0.012194
176    0.020810
177    0.006534
Name: Abundance, Length: 89, dtype: float64

## Working with Scipy statistic methods

In [9]:
tt_out=stats.ttest_ind(x,y)
print(tt_out)

TtestResult(statistic=7.288016524628964, pvalue=1.0200357215755368e-11, df=176.0)

## Exercises

PRINT HEAD AND TAIL OF data

In [11]:
print(data.head())
print(data.tail())

  SampleID Treatment  Treatment_no  Time        Species  Abundance   Count
0    CC01A   Control           1.0   0.0  Lactobacillus   0.063575  1430.0
1    CC01B   Control           1.0   1.0  Lactobacillus   0.030630   379.0
2    CC01C   Control           1.0   2.0  Lactobacillus   0.026108   386.0
3    CC01D   Control           1.0   3.0  Lactobacillus   0.058233  1193.0
4    CC02A   Control           1.0   0.0  Lactobacillus   0.092633  2455.0
     SampleID  Treatment  Treatment_no  Time              Species  Abundance  \
1330    CC23C  Treatment           NaN   NaN  Desulfovibrionaceae   0.000000
1331    CC23D  Treatment           NaN   NaN  Desulfovibrionaceae   0.000000
1332    CC24A  Treatment           NaN   NaN  Desulfovibrionaceae   0.000203
1333    CC24B  Treatment           NaN   NaN  Desulfovibrionaceae   0.000063
1334    CC24D  Treatment           NaN   NaN  Desulfovibrionaceae   0.000000

      Count
1330    NaN
1331    NaN
1332    NaN
1333    NaN
1334    NaN

Assign 3 variables to 3 different values in column 'Species'

In [15]:
viv=data.loc[(data['Species']=='Victivallaceae')]
#print(para)
w=para['Abundance']
print('Victivallaceae paras')
print(w)

para=data.loc[(data['Species']=='Bacilli')]
#print(para)
u=para['Abundance']
print('Bacilli paras')
print(u)

para=data.loc[(data['Species']=='Eubacterium')]
#print(para)
v=para['Abundance']
print('Eubacterium paras')
print(v)

Victivallaceae paras
445    0.000220
446    0.000000
447    0.000000
448    0.000047
449    0.000000
         ...
529    0.000000
530    0.000047
531    0.000203
532    0.000190
533    0.000200
Name: Abundance, Length: 89, dtype: float64
Bacilli paras
356    0.000000
357    0.000075
358    0.000065
359    0.000000
360    0.000000
         ...
440    0.000205
441    0.000094
442    0.000102
443    0.000000
444    0.000000
Name: Abundance, Length: 89, dtype: float64
Eubacterium paras
445    0.000220
446    0.000000
447    0.000000
448    0.000047
449    0.000000
         ...
529    0.000000
530    0.000047
531    0.000203
532    0.000190
533    0.000200
Name: Abundance, Length: 89, dtype: float64

Use the describe function

In [17]:
data.describe()

       Treatment_no         Time    Abundance        Count
count   1068.000000  1068.000000  1335.000000  1068.000000
mean       1.516854     1.505618     0.011190   218.326779
std        0.499950     1.133525     0.024425   448.925723
min        1.000000     0.000000     0.000000     0.000000
25%        1.000000     0.000000     0.000072     5.000000
50%        2.000000     2.000000     0.001127    28.000000
75%        2.000000     3.000000     0.007133   200.000000
max        2.000000     3.000000     0.206322  4317.000000

Print the sums, var, and std for data

In [19]:
data.sum() #sum
print(data[['Treatment_no', 'Time', 'Abundance', 'Count']].var()) #var
print(data[['Treatment_no', 'Time', 'Abundance', 'Count']].std()) #std

Treatment_no         0.249950
Time                 1.284879
Abundance            0.000597
Count           201534.304549
dtype: float64
Treatment_no      0.499950
Time              1.133525
Abundance         0.024425
Count           448.925723
dtype: float64

Make a new dataframe that only includes SampleID and Species.
Make a second dataframe that only includes only Abundance.
Make a third dataframe that merges the other two.

In [25]:
new_data=data[['SampleID', 'Species']] #dataframe that only includes sampleID and Species
print(new_data)

abun_data=data['Abundance'] #dataframe that only includes abundance
print(abun_data)

comb_data = new_data.join(abun_data) #combine the dataframe that includes sampleID and Species with abundance
print(comb_data)

     SampleID              Species
0       CC01A        Lactobacillus
1       CC01B        Lactobacillus
2       CC01C        Lactobacillus
3       CC01D        Lactobacillus
4       CC02A        Lactobacillus
...       ...                  ...
1330    CC23C  Desulfovibrionaceae
1331    CC23D  Desulfovibrionaceae
1332    CC24A  Desulfovibrionaceae
1333    CC24B  Desulfovibrionaceae
1334    CC24D  Desulfovibrionaceae

[1335 rows x 2 columns]
0       0.063575
1       0.030630
2       0.026108
3       0.058233
4       0.092633
          ...
1330    0.000000
1331    0.000000
1332    0.000203
1333    0.000063
1334    0.000000
Name: Abundance, Length: 1335, dtype: float64
     SampleID              Species  Abundance
0       CC01A        Lactobacillus   0.063575
1       CC01B        Lactobacillus   0.030630
2       CC01C        Lactobacillus   0.026108
3       CC01D        Lactobacillus   0.058233
4       CC02A        Lactobacillus   0.092633
...       ...                  ...        ...
1330    CC23C  Desulfovibrionaceae   0.000000
1331    CC23D  Desulfovibrionaceae   0.000000
1332    CC24A  Desulfovibrionaceae   0.000203
1333    CC24B  Desulfovibrionaceae   0.000063
1334    CC24D  Desulfovibrionaceae   0.000000

[1335 rows x 3 columns]

In [27]:
data.head()

  SampleID Treatment  Treatment_no  Time        Species  Abundance   Count
0    CC01A   Control           1.0   0.0  Lactobacillus   0.063575  1430.0
1    CC01B   Control           1.0   1.0  Lactobacillus   0.030630   379.0
2    CC01C   Control           1.0   2.0  Lactobacillus   0.026108   386.0
3    CC01D   Control           1.0   3.0  Lactobacillus   0.058233  1193.0
4    CC02A   Control           1.0   0.0  Lactobacillus   0.092633  2455.0

In [29]:
data

,SampleID,Treatment,Treatment_no,Time,Species,Abundance,Count
0,CC01A,Control,1.0,0.0,Lactobacillus,0.063575,1430.0
1,CC01B,Control,1.0,1.0,Lactobacillus,0.030630,379.0
2,CC01C,Control,1.0,2.0,Lactobacillus,0.026108,386.0
3,CC01D,Control,1.0,3.0,Lactobacillus,0.058233,1193.0
4,CC02A,Control,1.0,0.0,Lactobacillus,0.092633,2455.0
...,...,...,...,...,...,...,...
1330,CC23C,Treatment,NaN,NaN,Desulfovibrionaceae,0.000000,NaN
1331,CC23D,Treatment,NaN,NaN,Desulfovibrionaceae,0.000000,NaN
1332,CC24A,Treatment,NaN,NaN,Desulfovibrionaceae,0.000203,NaN
1333,CC24B,Treatment,NaN,NaN,Desulfovibrionaceae,0.000063,NaN
1334,CC24D,Treatment,NaN,NaN,Desulfovibrionaceae,0.000000,NaN

## You can use the directory function to see all the pandas methods

In [31]:
dir(data)

['Abundance',
 'Count',
 'SampleID',
 'Species',
 'T',
 'Time',
 'Treatment',
 'Treatment_no',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__arrow_c_stream__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__dataframe_consortium_standard__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_arith_method_with_reindex',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_from_mgr',
 '_constructor_sliced',
 '_constructor_sliced_from_mgr',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_flex_arith_method',
 '_flex_cmp_method',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values_for_csv',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_maybe_align_series_as_frame',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_shift_with_freq',
 '_should_reindex_frame_op',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [33]:
#How to see the names of all the columns
data.columns  #All the titles for the columns

Index(['SampleID', 'Treatment', 'Treatment_no', 'Time', 'Species', 'Abundance',
       'Count'],
      dtype='object')

In [35]:
#Using a for loop to print all the names
for i in data.columns: print (i)

SampleID
Treatment
Treatment_no
Time
Species
Abundance
Count

In [37]:
#Retrieve data of all the columns
data["Count"]

0       1430.0
1        379.0
2        386.0
3       1193.0
4       2455.0
         ...
1330       NaN
1331       NaN
1332       NaN
1333       NaN
1334       NaN
Name: Count, Length: 1335, dtype: float64

In [39]:
#An example of calculating a stat
data["Count"].sum()

233173.0

## Use pandas in a function

Write a function called calc_stats that:
(1) Takes 2 string arguments, a filename of tab-delimited database and the name of a 
    column in the data.
(2) And it returns a list of the following: the sum, median, mean, standard deviation,
    minimum value, and maximum value.

In [41]:
def calc_stats(file, col):
    list=[]
    data=pd.read_csv(file, sep='\t', index_col=False, low_memory=False)
    list.append(data[col].sum())
    list.append(data[col].median())
    list.append(data[col].mean())
    list.append(data[col].std())
    list.append(data[col].min())
    list.append(data[col].max())
    return list

In [43]:
out=calc_stats("hist_taxa_treat2.txt", "Count")
print(out)
#Should print [233173.0, 28.0, 218.32677902621722, 448.92572275301353, 0.0, 4317.0]

[233173.0, 28.0, 218.32677902621722, 448.92572275301353, 0.0, 4317.0]

In [45]:
out2=calc_stats("hist_taxa_treat2.txt", "Abundance")
print(out2)
#Should print [14.939201413, 0.001127497, 0.011190413043445693, 0.024424991167155383, 0.0, 0.206321962]

[14.939201413, 0.001127497, 0.011190413043445693, 0.024424991167155383, 0.0, 0.206321962]